.header {
    height: rem(84px);
    /* margin-bottom: rem(120px); */
    /* background-color: var(--mantine-color-body); */
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
  .inner{
    display:flex;
    justify-content: center;
    flex-direction: column;
  }
  .header h1{
    line-height:3px;
    letter-spacing:1px
  }
  .header p{
    line-height:3px;
    font-size:1.5rem;
   
  }

  
  