.header {
    padding-top: var(--mantine-spacing-sm);
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), transparent);
    margin-bottom: 120px;
  }
  
  .mainSection {
    padding-bottom: var(--mantine-spacing-sm);
  }
  
  .user {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    transition: background-color 100ms ease;
  
    &:hover {
      background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
    }
  }
  
  .userActive {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }